:root {
    --table-text-color-anthracite: #253340;
    --table-text-color-gray: #a7b1c2;
    --table-font-size: 14px;
    --table-font-family: Open Sans, sans-serif;
}

.card-header {
    background: white;
    border: none;
}

table.dataTable.table-striped > tbody > tr.odd > * {
    box-shadow: inset 0 0 0 9999px white;
}

.dataTable_footer {
    margin-top: 10px;
}

.table * {
    font-style: normal;
    line-height: 18px;
}

.table > caption + thead > tr:first-child > td,
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > td,
.table > thead:first-child > tr:first-child > th {
    color: var(--table-text-color-anthracite);
    font-family: var(--table-font-family);
    font-size: var(--table-font-size);

    font-weight: 600;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    color: var(--table-text-color-anthracite);
    font-family: var(--table-font-family);
    font-size: var(--table-font-size);
    font-weight: 400;
    padding-bottom: 1rem;
    padding-top: 1rem;
    vertical-align: middle;
}

.table > thead > tr > th {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.dataTables_wrapper .table__input,
.dataTables_wrapper .table__select {
    background: #fff;
    border: 1px solid var(--table-text-color-gray);
    box-sizing: border-box;
    height: 23px;
}

.dataTables_wrapper th.sorting {
    vertical-align: bottom;
}

.dataTables_wrapper .icon {
    bottom: 6px;
    color: var(--table-text-color-gray);
    left: 0.5rem;
    position: absolute;
}

.dataTables_wrapper .icon_clean-filter {
    bottom: 7px;
    color: var(--table-text-color-gray);
    position: absolute;
    right: 0.35rem;
}

/* .dataTables_wrapper .table__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
} */

.dataTables_wrapper .table__input:focus,
.dataTables_wrapper .table__select:focus {
    outline: 1px solid var(--table-text-color-gray);
}

.dataTables_wrapper .table__select {
    color: var(--table-text-color-gray);
    vertical-align: middle;
}

.dataTables_wrapper .table__input {
    padding-left: 0.25rem;
    padding-right: 1.5rem;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 15px 0;
}

.tickets-p__table-item .card.mb-3 {
    border: none;
}

.table__field label {
    cursor: pointer;
    font-family: var(--table-font-family);
}

select.input_small {
    padding: 0 0.25rem 0 0.5rem;
    text-overflow: ellipsis;
}

.row.dataTable_footer .col-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataTables_wrapper {
    padding: 0;
}

.card-body {
    padding-bottom: 0;
}

.prev-page,
.next-page {
    color: #676a6c;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.57px;
}

.dt-buttons {
    display: flex;
    justify-content: flex-end;
}

.not-btn {
    border: none !important;
    background: white !important;
    font-size: 20px;
    pointer-events: none;
}

div div .dataTable td {
    font-size: 16px;
}
